{% extends "base.html" %}

{% block content %}

<head>
    <title>Alyssa Miles - Portfolio</title>
</head>

<div id="landing-header">
    <div class="left link-bar">
        <a href="/about" id="tl-link" class="fancy-link">About</a>
        <a href="/portfolio" id="bl-link" class="fancy-link">Portfolio</a>
    </div>

    <div class="landing-logo"><img id="logo-img" src="/logo-invert.png" width="575px"></div>

    <div class="right link-bar">
        <a href="/interests" id="tr-link" class="fancy-link">Interests</a>
        <a href="/contact" id="br-link" class="fancy-link">Contact</a>
    </div>
</div>

<div id="landing-body">
    <div class="content-paragraph">
        <p>
            My name is Alyssa Miles, known through my art as <a class="fancy-link" href="/portfolio">[A2]</a>. I am a multi-disciplinary artist focused mainly on Music & Programming, with experience in Animation, traditional / digital Art, and Voice Work.
        </p>
        <p>
            I have particular passions for Experimental Music, Systems Design, UI/UX Design, Game/Project Design, and Rig-based Animation. Creative work is the most important thing in my life, allowing an outlet for my emotions, feelings, and the ability to create unique stories & messages that people of all kinds can enjoy & find meaning in.
        </p>
    </div>

    <div class="marquee-header" data-text="Quick Portfolio" data-width="376">
        <div class="marquee-content">
            <svg width="100000000vw" id="background-svg">
                <defs>
                    <pattern id="pattern" x="0" y="0" width="376" height="52" fill="gray" patternUnits="userSpaceOnUse">
                        <text x="0" y="38" id="background-text" style="font-size: 36px; font-style: italic;">Quick Portfolio</text>
                    </pattern>
                </defs>
                <rect id="background-rect" x="0" y="0" width="100%" height="37%" fill="url(#pattern)"/>
            </svg>
        </div>

        <h1> Quick Portfolio </h1>
    </div>

    <h2> Albums </h2>

    <div id="landing-music-promo">
        <div class="bandcamp-player left"><iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=3286463478/size=large/bgcol=ffffff/linkcol=000000/artwork=small/transparent=true/" seamless><a href="https://a2345.bandcamp.com/album/music-from-the-mind-of-someone">Music From The Mind Of Someone by [A2]</a></iframe> </div>
        <div class="bandcamp-player right"><iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=455259711/size=large/bgcol=ffffff/linkcol=000000/artwork=small/transparent=true/" seamless><a href="https://a2345.bandcamp.com/album/many-ambient-genres">Many Ambient Genres by [A2]</a></iframe> </div>
    </div>

    <h2> Programming </h2> 

    <div id="landing-coding-promo">
        <div class="landing-repo" style="grid-area: left;">
            <a class="fancy-link" target="_blank" href="https://github.com/alyssamiles/alyssamiles.github.io">This Site</a>
            <section>Portfolio Website created for Music Industry &amp; Portfolio class final project / personal use.</section>
        </div>

        <div class="landing-repo" style="grid-area: mid;">
            <a class="fancy-link" target="_blank" href="https://github.com/A2source/Drama-Interactive-Script">Drama Interactive Script</a>
            <section>Drama tech sound cue app developed during my last year of High School. No longer in development, not finished.</section>
        </div>

        <div class="landing-repo" style="grid-area: right;">
            <a class="fancy-link" target="_blank" href="https://github.com/A2source/time">TIME</a>
            <section>Fully script-based 4-key rhythm game engine. Currently under active development.</section>
        </div>
    </div>

</div>

<script src="/landing.js"></script>

{% endblock content %}