{% extends "base.html" %}

{% block content %}

<head>
    <title>Alyssa Miles - Interests</title>
</head>

<div style="padding-left: 24px; padding-top: 12px;"><a href="/" style="font-style: italic;"> go back </a></div>

<div id="content-body">
    <div class="marquee-header">
        <div class="marquee-content">
            <svg width="100000000vw" id="background-svg">
                <defs>
                    <pattern id="pattern" x="0" y="0" width="235" height="52" fill="gray" patternUnits="userSpaceOnUse">
                        <text x="0" y="38" id="background-text" style="font-size: 36px; font-style: italic;">Interests</text>
                    </pattern>
                </defs>
                <rect id="background-rect" x="0" y="0" width="100%" height="37%" fill="url(#pattern)"/>
            </svg>
        </div>

        <h1> Interests </h1>
    </div>

    <br>

    <div class="content-paragraph">
        <p>Text</p>
    </div>

</div>

{% endblock content %}